In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('merged.csv')

In [3]:
df.head()

,start,end,sharpe_ratio,returns,risk,method,stockname,BAJFINANCE,BAJAJFINSV,PGHL,...,JKIL,HCC,NCC,GNFC,COSMOFIRST,HINDOILEXP,CHAMBLFERT,CESC,NLCINDIA,TNPL
0,NaN,NaN,NaN,NaN,NaN,NaN,sharpe_stocks,594.083862,197.527466,609.568726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,sharpe_stocks,589.854309,195.107910,604.125488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,sharpe_stocks,584.533142,193.763702,601.423340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,sharpe_stocks,595.194885,193.021896,598.682251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,sharpe_stocks,595.102356,191.876862,585.837708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN