In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = 'C://Users//aman2//Documents//BTProject//btp2.0//data//{}.csv'

In [42]:
df = pd.read_csv(DATA_PATH.format('HIL'))

In [36]:
start_timestamp = pd.to_datetime('2019-01-01 09:15:00', utc=True)

In [37]:
start_timestamp

Timestamp('2019-01-01 09:15:00+0000', tz='UTC')

In [47]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1996-01-01 00:00:00+05:30,104.450745,104.450745,104.450745,104.450745,100,0.0,0.0
1,1996-01-02 00:00:00+05:30,103.199796,103.199796,102.887070,102.887070,400,0.0,0.0
2,1996-01-03 00:00:00+05:30,102.417992,102.417992,102.417992,102.417992,500,0.0,0.0
3,1996-01-04 00:00:00+05:30,103.199833,103.199833,99.478386,99.478386,300,0.0,0.0
4,1996-01-05 00:00:00+05:30,100.072551,100.072551,98.821644,99.447098,300,0.0,0.0

In [48]:
df.set_index('Date', inplace=True)

In [49]:
df.index = pd.to_datetime(df.index)
df.index = pd.to_datetime(df.index, unit='s', utc=True)

In [50]:
df.loc[start_timestamp:].head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-01 18:30:00+00:00,1894.356977,1903.314794,1875.610066,1888.123413,2140,0.0,0.0
2019-01-02 18:30:00+00:00,1876.210456,1895.557659,1851.322306,1863.651001,2981,0.0,0.0
2019-01-03 18:30:00+00:00,1861.111309,1884.798761,1861.111309,1869.699707,2256,0.0,0.0
2019-01-06 18:30:00+00:00,1883.921637,1888.031127,1838.670578,1845.689087,2861,0.0,0.0
2019-01-07 18:30:00+00:00,1844.442451,1858.987435,1823.894776,1839.871216,6148,0.0,0.0

In [51]:
start = '01/01/2020'
end = '30/06/2023'

start = start.replace('/', '-')
end = end.replace('/', '-')
start += ' 00:00:00'
end += ' 00:00:00'

In [52]:
start = pd.to_datetime(start, utc=True)
end = pd.to_datetime(end, utc=True)

C:\Users\aman2\AppData\Local\Temp\ipykernel_23080\85780405.py:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  end = pd.to_datetime(end, utc=True)

In [53]:
start

Timestamp('2020-01-01 00:00:00+0000', tz='UTC')

In [54]:
df[start:end]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01 18:30:00+00:00,1199.430051,1309.578417,1179.061796,1296.296875,72933,0.0,0.0
2020-01-02 18:30:00+00:00,1305.495417,1331.917913,1262.459192,1270.249878,30700,0.0,0.0
2020-01-05 18:30:00+00:00,1252.134141,1252.134141,1203.606949,1210.177368,9829,0.0,0.0
2020-01-06 18:30:00+00:00,1218.296757,1258.704891,1216.090996,1221.394287,6490,0.0,0.0
2020-01-07 18:30:00+00:00,1220.220839,1233.784017,1196.191898,1199.993286,7911,0.0,0.0

In [55]:
def get_stock_data(symbol, start, end):
    df = pd.read_csv(DATA_PATH.format(symbol))
    df.set_index('Date', inplace=True)
    start = start.replace('/', '-')
    end = end.replace('/', '-')
    start += ' 00:00:00'
    end += ' 00:00:00'
    df.index = pd.to_datetime(df.index)
    df.index = pd.to_datetime(df.index, unit='s', utc=True)
    start = pd.to_datetime(start, utc=True)
    end = pd.to_datetime(end, utc=True)
    return df[start:end]

In [56]:
hil = get_stock_data('HIL', '01/01/2020', '30/06/2023')
print(len(hil))
abb = get_stock_data('ABB', '01/01/2020', '30/06/2023')
print(len(abb))

867
868

C:\Users\aman2\AppData\Local\Temp\ipykernel_23080\3534141090.py:11: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  end = pd.to_datetime(end, utc=True)
C:\Users\aman2\AppData\Local\Temp\ipykernel_23080\3534141090.py:11: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  end = pd.to_datetime(end, utc=True)

In [59]:
 set(abb.index) - set(hil.index)

{Timestamp('2023-06-27 18:30:00+0000', tz='UTC')}