In [2]:
import pandas as pd
import numpy as np
import yfinance as yf

In [3]:
esg_data = pd.read_json('../esg_data.json')

In [4]:
# Drop the stocks that have no ESG data
esg_data = esg_data[esg_data['esg'].str.len() > 0]
esg_data.head()

,esg,esg_industry,industry,name,ticker
1,"[[1622505600000, 14.44], [1625097600000, 14.46...","[[1622505600000, 13.83], [1625097600000, 12.9]...",Containers & Packaging Manufacturing,3M-INDIA-LIMITED,3MINDIA
2,"[[1633046400000, 36.21], [1635724800000, 35.68...","[[1633046400000, 19.94], [1635724800000, 20.25...",Brokerage & Capital Markets,5paisa-Capital-Limited,5PAISA
5,"[[1622505600000, 16.98], [1625097600000, 17.08...","[[1622505600000, 26.05], [1625097600000, 26.42...",Health Care & Pharmaceuticals,Aarti-Drugs-Ltd,AARTIDRUGS
6,"[[1622505600000, 19.55], [1625097600000, 19.69...","[[1622505600000, 28.24], [1625097600000, 26.97...","Chemicals, Plastics & Rubber Products Mfg.",AARTI-INDUSTRIES-LTD,AARTIIND
8,"[[1625097600000, 52.96], [1627776000000, 69.18...","[[1625097600000, 66.0], [1627776000000, 73.21]...",Real Estate Financial Services,Aavas-Financiers-Ltd,AAVAS

In [5]:
esg_data.shape

(756, 5)

In [6]:
nse_data = pd.read_excel('../MCAP31032023_0.xlsx')

In [7]:
nse_data.head()

,Sr. No.,Symbol,Company Name,"Market capitalization as on March 31, 2023\n(Rs in Lakhs)",Unnamed: 4
0,1,RELIANCE,Reliance Industries Limited,157706937.768198,NaN
1,2,TCS,Tata Consultancy Services Limited,117305527.967007,NaN
2,3,HDFCBANK,HDFC Bank Limited,89808750.012063,NaN
3,4,ICICIBANK,ICICI Bank Limited,61248250.447697,NaN
4,5,HINDUNILVR,Hindustan Unilever Limited,60157759.876617,NaN

In [8]:
all_nse_tickers = nse_data['Symbol'].tolist()
print(len(all_nse_tickers))

2139

In [9]:
esg_data = esg_data[esg_data['ticker'].isin(all_nse_tickers)]
print(esg_data.shape)

(604, 5)

In [10]:
esg_data.head()

,esg,esg_industry,industry,name,ticker
1,"[[1622505600000, 14.44], [1625097600000, 14.46...","[[1622505600000, 13.83], [1625097600000, 12.9]...",Containers & Packaging Manufacturing,3M-INDIA-LIMITED,3MINDIA
2,"[[1633046400000, 36.21], [1635724800000, 35.68...","[[1633046400000, 19.94], [1635724800000, 20.25...",Brokerage & Capital Markets,5paisa-Capital-Limited,5PAISA
5,"[[1622505600000, 16.98], [1625097600000, 17.08...","[[1622505600000, 26.05], [1625097600000, 26.42...",Health Care & Pharmaceuticals,Aarti-Drugs-Ltd,AARTIDRUGS
6,"[[1622505600000, 19.55], [1625097600000, 19.69...","[[1622505600000, 28.24], [1625097600000, 26.97...","Chemicals, Plastics & Rubber Products Mfg.",AARTI-INDUSTRIES-LTD,AARTIIND
8,"[[1625097600000, 52.96], [1627776000000, 69.18...","[[1625097600000, 66.0], [1627776000000, 73.21]...",Real Estate Financial Services,Aavas-Financiers-Ltd,AAVAS

In [16]:
good_ticker = []
bad_ticker = []
for ticker in esg_data['ticker']:
    try:
        df = yf.Ticker(f'{ticker}.NS').history(period='max')
        df.to_csv(f'../data/{ticker}.csv')
        if df.index[0].year < 2009:
            good_ticker.append(ticker)
    except:
        bad_ticker.append(ticker)

print(good_ticker)
print(bad_ticker)

KALPATPOWR.NS: No timezone found, symbol may be delisted
MAHINDCIE.NS: No timezone found, symbol may be delisted
PVR.NS: No timezone found, symbol may be delisted

['3MINDIA', 'AARTIDRUGS', 'AARTIIND', 'ABB', 'ACC', 'ACE', 'ADANIPORTS', 'AEGISCHEM', 'BBOX', 'ATFL', 'AIAENG', 'AJANTPHARM', 'ALKYLAMINE', 'ALLCARGO', 'ALOKINDS', 'AMARAJABAT', 'AMBUJACEM', 'ANANTRAJ', 'APARINDS', 'APOLLOHOSP', 'APOLLOTYRE', 'ARVIND', 'ASAHIINDIA', 'ASHOKLEY', 'ASIANPAINT', 'ASTRAMICRO', 'ASTRAZEN', 'ATUL', 'AUROPHARMA', 'AUTOAXLES', 'AXISBANK', 'BAJAJ-AUTO', 'BAJAJELEC', 'BAJFINANCE', 'BAJAJFINSV', 'BAJAJHIND', 'BAJAJHLDNG', 'BALAMINES', 'BALKRISIND', 'BALMLAWRIE', 'BALRAMCHIN', 'BANKBARODA', 'BANKINDIA', 'MAHABANK', 'BANARISUG', 'BASF', 'BATAINDIA', 'BEML', 'BERGEPAINT', 'BEL', 'BHARATFORG', 'BHEL', 'BPCL', 'BHARATRAS', 'BHARTIARTL', 'BIOCON', 'BIRLACORPN', 'BSOFT', 'BLUEDART', 'BLUESTARCO', 'BBTC', 'BOMDYEING', 'BRIGADE', 'BRITANNIA', 'ZYDUSLIFE', 'CANFINHOME', 'CANBK', 'CARBORUNIV', 'CASTROLIND', 'CCL', 'CEATLTD', 'CENTRALBK', 'CENTURYPLY', 'CENTURYTEX', 'CERA', 'CESC', 'CGPOWER', 'CHAMBLFERT', 'CHENNPETRO', 'CHOLAFIN', 'CIPLA', 'CUB', 'COFORGE', 'COLPAL', 'CONCOR', 'COROMANDEL', 'COSMOFIRST', 'CRISIL', 'CUMMINSIND', 'DABUR', 'DALMIASUG', 'DCMSHRIRAM', 'DEEPAKFERT', 'DCBBANK', 'DISHTV', 'DCAL', 'DIVISLAB', 'DLF', 'DRREDDY', 'EIDPARRY', 'ECLERX', 'EDELWEISS', 'EICHERMOT', 'EIHOTEL', 'ELECON', 'ELGIEQUIP', 'EMAMILTD', 'EMCO', 'ENGINERSIN', 'ESABINDIA', 'ESCORTS', 'EPL', 'EVEREADY', 'EXIDEIND', 'SCHAEFFLER', 'FDC', 'FACT', 'GNFC', 'FINCABLES', 'FINPIPE', 'FSL', 'FORTIS', 'GAIL', 'GANESHHOUC', 'GARFIBRES', 'GEPIL', 'GET&D', 'GHCL', 'GICHSGFIN', 'GLAXO', 'GLENMARK', 'GMRINFRA', 'GPIL', 'GODFRYPHLP', 'GODREJCP', 'GODREJIND', 'GOKEX', 'GRANULES', 'GRAPHITE', 'GRASIM', 'GESHIP', 'GREAVESCOT', 'GREENPLY', 'GRINDWELL', 'GTLINFRA', 'GUJALKALI', 'GAEL', 'GMDCLTD', 'GSFC', 'GSPL', 'GOCLCORP', 'GVKPIL', 'HMT', 'HAVELLS', 'HBLPOWER', 'HCLTECH', 'HDFCBANK', 'HEG', 'HEIDELBERG', 'HERITGFOOD', 'HEROMOTOCO', 'HIKAL', 'HIL', 'HFCL', 'HSCL', 'HIMATSEIDE', 'HINDALCO', 'HGS', 'HCC', 'HINDOILEXP', 'HINDPETRO', 'HINDUNILVR', 'HINDZINC', 'JCHAC', 'HONAUT', 'HDIL', 'AGI', 'AKZOINDIA', 'ICICIBANK', 'IDBI', 'IDEA', 'IFBIND', 'IFCI', 'IGARASHI', 'INDIAGLYCO', 'IIFL', 'IBREALEST', 'DHANI', 'INDIANB', 'INDIANHUME', 'IOC', 'IOB', 'ICIL', 'INDOCO', 'IGL', 'INDUSINDBK', 'NAUKRI', 'INFY', 'CYIENT', 'IDFC', 'INGERRAND', 'IPCALAB', 'IRB', 'ITC', 'ITI', 'JKIL', 'JKCEMENT', 'JBCHEPHARM', 'JAGRAN', 'JAICORPLTD', 'JISLJALEQS', 'JPASSOCIAT', 'JPPOWER', 'J&KBANK', 'JAYNECOIND', 'JBMA', 'JINDALPOLY', 'JINDALSAW', 'JSL', 'JINDALSTEL', 'JKLAKSHMI', 'JKPAPER', 'JKTYRE', 'JMFINANCIL', 'JSWHL', 'JSWSTEEL', 'JUBLPHARMA', 'JYOTHYLAB', 'KSB', 'KAJARIACER', 'KANSAINER', 'KSCL', 'KCP', 'KEC', 'KEI', 'KKCL', 'KIRLOSBROS', 'KIRLOSENG', 'KOTAKBANK', 'KPRMILL', 'KRBL', 'LAOPALA', 'LAXMIMACH', 'LT', 'LICHSGFIN', 'LINDEINDIA', 'DAAWAT', 'LUPIN', 'MAHSCOOTER', 'MAHSEAMLES', 'M&MFIN', 'M&M', 'MAHLIFE', 'MRPL', 'MARICO', 'MARKSANS', 'MARUTI', 'MFSL', 'MCLEODRUSS', 'MERCATOR', 'UNOMINDA', 'MIRZAINT', 'MOTILALOFS', 'MPHASIS', 'MRF', 'NATCOPHARM', 'NATIONALUM', 'NFL', 'NAVA', 'NAVINFLUOR', 'NAVNETEDUL', 'NCC', 'NESCO', 'NETWORK18', 'NEULANDLAB', 'NLCINDIA', 'NIITLTD', 'NMDC', 'NOCIL', 'NTPC', 'ONGC', 'OLECTRA', 'OMAXE', 'OFSS', 'PAGEIND', 'PATANJALI', 'PETRONET', 'PFIZER', 'PCBL', 'PHOENIXLTD', 'PIDILITIND', 'PEL', 'POLYPLEX', 'POONAWALLA', 'PFC', 'POWERGRID', 'PRAJIND', 'PFOCUS', 'PRSMJOHNSN', 'PGHL', 'PGHH', 'PTC', 'PUNJLLOYD', 'PNB', 'RADICO', 'RAIN', 'RAJESHEXPO', 'RALLIS', 'RAMCOCEM', 'RKFORGE', 'RCF', 'RATNAMANI', 'RAYMOND', 'REDINGTON', 'RELCAPITAL', 'RCOM', 'RELIANCE', 'RELINFRA', 'RPOWER', 'RELIGARE', 'RECLTD', 'SADBHAV', 'SANGHVIMOV', 'SANOFI', 'SCI', 'SHREECEM', 'RENUKA', 'SHRIRAMFIN', 'SIEMENS', 'SIYSIL', 'SKFINDIA', 'SMLISUZU', 'SOBHA', 'SOLARINDS', 'SOMANYCERA', 'SONATSOFTW', 'SOUTHBANK', 'SREINFRA', 'SRF', 'SBIN', 'SAIL', 'SSWL', 'STLTECH', 'STAR', 'STYRENIX', 'SUDARSCHEM', 'SPARC', 'SUNPHARMA', 'SUNTV', 'SUNCLAYLTD', 'SUNDRMFAST', 'SUPRAJIT', 'SURYAROSNI', 'SUVEN', 'SUZLON', 'TAKE', 'TNPL', 'TANLA', 'TATACHEM', 'TATACOFFEE', 'TATACOMM', 'TCS', 'TATAELXSI', 'TATACONSUM', 'TATAINVEST', 'TATAMETALI', 'TATAMOTORS', 'TATAPOWER', 'TATASTLLP', 'TATASTEEL', 'TTML', 'TECHM', 'TECHNOE', 'TEXRAIL', 'FEDERALBNK', 'INDIACEM', 'KTKBANK', 'KARURVYSYA', 'SUPREMEIND', 'TINPLATE', 'WSTCSTPAPR', 'THERMAX']
['KALPATPOWR', 'MAHINDCIE', 'PVR']

In [18]:
goody = pd.DataFrame(good_ticker, columns=['ticker'])
goody.head()

       ticker
0     3MINDIA
1  AARTIDRUGS
2    AARTIIND
3         ABB
4         ACC

In [12]:
esg_data['ticker'].to_csv('../esg_nse_final.csv', index=False)
goody['ticker'].to_csv('../esg_nse_yahoo_final.csv', index=False)