In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
NIFTY_50 = yf.Ticker("^NSEI")

In [4]:
pricevoldata = NIFTY_50.history(period="max")

In [5]:
pricevoldata = pricevoldata[['Open', 'High', 'Low', 'Close']]
pricevoldata.head(10)

                                  Open         High          Low        Close
Date
2007-09-17 00:00:00+05:30  4518.450195  4549.049805  4482.850098  4494.649902
2007-09-18 00:00:00+05:30  4494.100098  4551.799805  4481.549805  4546.200195
2007-09-19 00:00:00+05:30  4550.250000  4739.000000  4550.250000  4732.350098
2007-09-20 00:00:00+05:30  4734.850098  4760.850098  4721.149902  4747.549805
2007-09-21 00:00:00+05:30  4752.950195  4855.700195  4733.700195  4837.549805
2007-09-24 00:00:00+05:30  4837.149902  4941.149902  4837.149902  4932.200195
2007-09-25 00:00:00+05:30  4939.100098  4953.899902  4878.149902  4938.850098
2007-09-26 00:00:00+05:30  4937.600098  4980.850098  4930.350098  4940.500000
2007-09-27 00:00:00+05:30  4942.700195  5016.399902  4942.700195  5000.549805
2007-09-28 00:00:00+05:30  4996.450195  5055.799805  4996.450195  5021.350098

In [6]:
prices_df = pricevoldata["Close"]

In [7]:
prices_df = pd.DataFrame(prices_df)
prices_df.head()

                                 Close
Date
2007-09-17 00:00:00+05:30  4494.649902
2007-09-18 00:00:00+05:30  4546.200195
2007-09-19 00:00:00+05:30  4732.350098
2007-09-20 00:00:00+05:30  4747.549805
2007-09-21 00:00:00+05:30  4837.549805

In [8]:
start_timestamp = '01/01/2020'
end_timestamp = '30/6/2023'

# start_timestamp = '01/01/2016'
# end_timestamp = '01/01/2020'

# convert to datetime64[ns] dtype
start_timestamp = pd.to_datetime(start_timestamp, dayfirst=True)
end_timestamp = pd.to_datetime(end_timestamp, dayfirst=True)
prices_df.index = pd.to_datetime(prices_df.index, unit='s')
prices_df.index = prices_df.index.tz_localize(None)

prices_df = prices_df[(prices_df.index >= start_timestamp) & (prices_df.index <= end_timestamp)]
prices_df.head()

                   Close
Date
2020-01-01  12182.500000
2020-01-02  12282.200195
2020-01-03  12226.650391
2020-01-06  11993.049805
2020-01-07  12052.950195

In [9]:
prices_df.isna().sum()

Close    0
dtype: int64

In [10]:
returns_df = np.log(prices_df / prices_df.shift(1))
returns_df = returns_df.dropna()

In [11]:
# returns and volatility

mean_return_daily = returns_df.mean()
volatility_daily = returns_df.std()
volatility_annualized = returns_df.std() * np.sqrt(252)

In [16]:
mean_return_daily*252*100

Close    13.205711
dtype: float64

In [13]:
volatility_daily

Close    0.013532
dtype: float64

In [18]:
volatility_annualized

Close    21.481607
dtype: float64